@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Yrsa', serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --clr-primary: #202d65;
        --clr-primary-light: #4b3d87;
        --clr-bg: #f3f4f6;
        --clr-bg-light: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: #a4bae6;
        --clr-primary-light: #90cced;
        --clr-bg: #213547;
        --clr-bg-light: #444;
    }
}